ClienteDuo/Connected Services/DataService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommunicationService" />
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddUserToDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommunicationService" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserToDatabaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserFromDatabaseByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserFromDatabaseByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserFromDatabaseByUsernameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLoginValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLoginValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommunicationService" minOccurs="0" name="IsLoginValidResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUsernameTaken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUsernameTakenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUsernameTakenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEmailTaken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEmailTakenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsEmailTakenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usernameSender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usernameReceiver" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFriendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendFriendRequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFriendRequestAlreadyExistent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usernameSender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usernameReceiver" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFriendRequestAlreadyExistentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsFriendRequestAlreadyExistentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommunicationService" minOccurs="0" name="friendRequest" nillable="true" type="q3:FriendRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptFriendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcceptFriendRequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="friendRequestID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectFriendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RejectFriendRequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendRequestsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendRequestsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommunicationService" minOccurs="0" name="GetFriendRequestsListResult" nillable="true" type="q4:ArrayOfFriendRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CommunicationService" minOccurs="0" name="GetFriendsListResult" nillable="true" type="q5:ArrayOfFriendship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOnlineFriendsResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFriendshipByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="friendshipID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFriendshipByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFriendshipByIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlreadyFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="senderUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="receiverUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlreadyFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAlreadyFriendResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partyCode" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partyCode" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partyCode" type="xs:int" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partyCode" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partyCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partyCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KickPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partyCode" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPartyCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="playersInLobby" nillable="true" type="q7:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPartyCreatedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPlayerJoined">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="playersInLobby" nillable="true" type="q8:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPlayerJoinedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyMessageReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="messageSent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyMessageReceivedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPlayerLeft">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="playersInLobby" nillable="true" type="q9:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPlayerLeftResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPlayerKicked">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPlayerKickedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyGameStarted">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyGameStartedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPartyExistent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partyCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPartyExistentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPartyExistentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSpaceAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partyCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSpaceAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsSpaceAvailableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DrawCard">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DrawCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CommunicationService" minOccurs="0" name="DrawCardResult" nillable="true" type="q10:Card" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableCards">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableCardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CommunicationService" minOccurs="0" name="GetTableCardsResult" nillable="true" type="q11:ArrayOfCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DealTableCards">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndTurn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndRound">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="position" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyLogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CommunicationService" minOccurs="0" name="user" nillable="true" type="q12:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyLogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CommunicationService" minOccurs="0" name="user" nillable="true" type="q13:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoggedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoggedOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoggedOutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>