ClienteDuo/Connected Services/DataService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommunicationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommunicationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="FriendRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FriendRequestID" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiverID" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiverUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderID" type="xs:int" />
      <xs:element minOccurs="0" name="SenderUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendRequest" nillable="true" type="tns:FriendRequest" />
  <xs:complexType name="ArrayOfFriendRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendRequest" nillable="true" type="tns:FriendRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendRequest" nillable="true" type="tns:ArrayOfFriendRequest" />
  <xs:complexType name="ArrayOfFriendship">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Friendship" nillable="true" type="tns:Friendship" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendship" nillable="true" type="tns:ArrayOfFriendship" />
  <xs:complexType name="Friendship">
    <xs:sequence>
      <xs:element minOccurs="0" name="Friend1ID" type="xs:int" />
      <xs:element minOccurs="0" name="Friend1Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Friend2ID" type="xs:int" />
      <xs:element minOccurs="0" name="Friend2Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FriendshipID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Friendship" nillable="true" type="tns:Friendship" />
</xs:schema>